headline {
  display: block;
  color: #ffffff;
  font-size: 16;  
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

paragraph {
  display: block;
  color: #ffff77;
  font-size: 12;
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

break {
  font-size: 7;
  display:block;
}

a {
  color: #aad2ff;
  display: inline;
}

a:hover {
  color: #ffffff;
  display: inline;
}
